{%  extends 'formationATPCoreBundle::Layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>Dernières vidéos</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Vid #1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Télécharger</a> <a href="#" class="btn btn-default">Détails</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Vid #2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Télécharger</a> <a href="#" class="btn btn-default">Détails</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Vid #3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Télécharger</a> <a href="#" class="btn btn-default">Détails</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Vid #4</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Télécharger</a> <a href="#" class="btn btn-default">Détails</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    <h1>Les vidéos</h1>
    <p> retrouvez l'ensemble de nos vidéos </p>
    <p> Aujourd'hui on est le {{ 'now'|date('d/m/Y') }}</p>
{% endblock %}

